.container {
    border: 10px solid #FAFFC9;
    width: fit-content;
    border-radius: 5%;
}

#prompt {
    border: 3px solid #98A7A8;
    height: 40px;
    border-radius: 4%;
    font-size: 200%;
    margin-bottom: 1px;
    padding-left: 10px;
}
.box {
    color: white;
    font-size: 150%; 
}

.number {
    background-color: #26C281;
    
}

.operator {
    background-color: #F89406;

}