


.avg {
  width: 250px;
  height: 350px;
  border: 1px black solid;
  margin: 20px;
  
}

.avg img {
  width: 80%;
  margin: 5px auto;
  
}

#container {
  display: flex;
  align-items: center;
  
}