nav {
    background-color: #2E4172;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    font-size: 150%;
}

nav >span >img {
    width: 30px;
    vertical-align: middle;
}

#login {
    color: white;
    background-color: cornflowerblue;
    width: 80px;
    border-radius: 10px;
    font-size: 80%;
}

#login:hover {
    color:gold;
    border: 2px solid gold;
}

.navItems {
    padding: 0 5px;
}

.navItems:hover {
    background-color: #4F628E;
    /* border: 1px white solid; */
    border-radius: 5px;
    cursor: pointer;
}

