body {
    background-color: lightgray;

}

#title {
    
    font-size: 150%;
   
}

h1 { color: blue;
    border: 3px white solid;
    border-radius: 15px;
    width: fit-content;
    margin: auto;

}

table, th, td {
    border: 1px solid black;
  }

  table {
      width: 100%;
  }

  .statusCell {
      text-align: center;
  }

  #editor {
      border: 1px solid black;
      width: 100%;
      margin: 20px auto;
      visibility: hidden;
      
  }

#editor1 {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  h2 {
      text-align: center;
  }