

.box {
    color: white;
    text-align: center;
    border: 5px solid white;

}

.magenta {
    background-color: #B7336A;
}

.purple {
    background-color: #726DA8;
}
.cornflower {
    background-color: #7C8CC4;
}
.water {
    background-color: #A0D2DB;
}
.mauve {
    background-color: #C490D1;
}

header {
    grid-area: header;
}
.hero {
    grid-area: hero;
}
.sidebar {
    grid-area: sidebar;
}
.main {
    grid-area: main;
}
.extra {
    grid-area: extra;
}
.images {
    grid-area: images;
}
.posts {
    grid-area: post;
}
footer {
    grid-area: footer;
}

.container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 90px 90px 90px 90px ;
    grid-template-areas:
    "header header header"
    "hero sidebar main"
    "hero extra extra"
    "images images post"
    "footer footer footer";
}