#sidebar {
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8,1fr);
    float: left;
    background-color: darkgrey;
    height: 99vh;
    width: 20%;
}

#sidebar > * {
    border: 2px solid black;
}

#clearButton {
    grid-column: 1/4;
    font-size: larger;
    border-radius: 10%;
}

#whiteGrid {
    background-color: darkgrey;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(60,1fr);
    height: 99vh;
    width: 80%;
    padding : 5px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}